In [14]:
import pandas as pd
import numpy as np

In [15]:
df = pd.read_csv('./data/student-mat.csv')

# Creamos una copia
df_copy = df

df_copy.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [16]:
# Nos quedamos con las columnas para la storytelling
columns = ["sex", "Medu", "Fedu", "famrel", "studytime", "goout", "internet", "Walc"]
df_copy = df_copy[columns]
df_copy.head()

  sex  Medu  Fedu  famrel  studytime  goout internet  Walc
0   F     4     4       4          2      4       no     1
1   F     1     1       5          2      3      yes     1
2   F     1     1       4          2      2      yes     3
3   F     4     2       3          3      2      yes     1
4   F     3     3       4          2      2       no     2

In [17]:
# Discretizamos Walc siendo [1,2] = "Consumo bajo" y [3,5] = "Consumo alto"
df_copy["D_Walc"] = pd.cut(
    df_copy["Walc"], 
    bins=[0,2,5],
    labels=["Consumo bajo", "Consumo alto"]
)

# Discretizamos el nivel educativo del padre y la madre
df_copy["D_Medu"] = pd.cut(
    df_copy["Medu"], 
    bins=[-1,2,3,4],
    labels=["EducaciÃ³n primaria", "EducaciÃ³n secundaria", "EducaciÃ³n universitaria"]
)
df_copy["D_Fedu"] = pd.cut(
    df_copy["Fedu"], 
    bins=[-1,2,3,4],
    labels=["EducaciÃ³n primaria", "EducaciÃ³n secundaria", "EducaciÃ³n universitaria"]
)

# Discretizamos el tiempo de estudio
df_copy["D_Studytime"] = pd.cut(
    df_copy["studytime"], 
    bins=[-1,1,2,4],
    labels=["Poco", "Normal", "Mucho"]
)

# Discretizamos el tiempo de salir con los amigos
df_copy["D_Goout"] = pd.cut(
    df_copy["goout"], 
    bins=[-1,2,3,5],
    labels=["Poco", "Normal", "Mucho"]
)


df_copy.head()

<ipython-input-17-0846ebbdd98d>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_copy["D_Walc"] = pd.cut(
<ipython-input-17-0846ebbdd98d>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_copy["D_Medu"] = pd.cut(
<ipython-input-17-0846ebbdd98d>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_copy["D_Fedu"] = pd.cut(
<ipython-input-17-0846ebbdd98d>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_copy["D_Studytime"] = pd.cut(
<ipython-input-17-0846ebbdd98d>:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_copy["D_Goout"] = pd.cut(

,sex,Medu,Fedu,famrel,studytime,goout,internet,Walc,D_Walc,D_Medu,D_Fedu,D_Studytime,D_Goout
0,F,4,4,4,2,4,no,1,Consumo bajo,EducaciÃ³n universitaria,EducaciÃ³n universitaria,Normal,Mucho
1,F,1,1,5,2,3,yes,1,Consumo bajo,EducaciÃ³n primaria,EducaciÃ³n primaria,Normal,Normal
2,F,1,1,4,2,2,yes,3,Consumo alto,EducaciÃ³n primaria,EducaciÃ³n primaria,Normal,Poco
3,F,4,2,3,3,2,yes,1,Consumo bajo,EducaciÃ³n universitaria,EducaciÃ³n primaria,Mucho,Poco
4,F,3,3,4,2,2,no,2,Consumo bajo,EducaciÃ³n secundaria,EducaciÃ³n secundaria,Normal,Poco

In [18]:
df_copy.shape

(395, 13)

In [19]:
df_copy_all = df_copy
df_copy_all.shape

(395, 13)

In [20]:
df_copy = df_copy[df_copy["D_Walc"] == "Consumo alto"]
df_copy.shape

(159, 13)

# Consumo alto segÃºn el sexo

In [22]:
print("Consumo todos")
print(df["sex"].value_counts())

print("\nConsumo elevado")
print(df_copy["sex"].value_counts())

print("\nPorcentaje consumo elevado")
print("F\t" + " %" + str(round(df_copy["sex"].value_counts()["F"] / df_copy.shape[0] * 100)))
print("M\t" + " %" + str(round(df_copy["sex"].value_counts()["M"] / df_copy.shape[0] * 100)))

Consumo todos
F    208
M    187
Name: sex, dtype: int64

Consumo elevado
M    96
F    63
Name: sex, dtype: int64

Porcentaje consumo elevado
F	 %40
M	 %60

# Consumo alto segÃºn el nivel educativo de la madre

In [23]:
print("Consumo todos")
print(df["Medu"].value_counts())

print("\nConsumo elevado")
print(df_copy["Medu"].value_counts())

print("\nPorcentaje consumo elevado")
print("Universitaria\t" + " %" + str(round(df_copy["D_Medu"].value_counts()["EducaciÃ³n universitaria"] / df_copy.shape[0] * 100)))
print("Secundaria\t" + " %" + str(round(df_copy["D_Medu"].value_counts()["EducaciÃ³n secundaria"] / df_copy.shape[0] * 100)))
print("Primaria\t" + " %" + str(round(df_copy["D_Medu"].value_counts()["EducaciÃ³n primaria"] / df_copy.shape[0] * 100)))

Consumo todos
4    131
2    103
3     99
1     59
0      3
Name: Medu, dtype: int64

Consumo elevado
4    48
3    47
2    33
1    29
0     2
Name: Medu, dtype: int64

Porcentaje consumo elevado
Universitaria	 %30
Secundaria	 %30
Primaria	 %40

# Consumo alto segÃºn el nivel educativo del padre

In [24]:
print("Consumo todos")
print(df["Fedu"].value_counts())

print("\nConsumo elevado")
print(df_copy["Fedu"].value_counts())

print("\nPorcentaje consumo elevado")
print("Universitaria\t" + " %" + str(round(df_copy["D_Fedu"].value_counts()["EducaciÃ³n universitaria"] / df_copy.shape[0] * 100)))
print("Secundaria\t" + " %" + str(round(df_copy["D_Fedu"].value_counts()["EducaciÃ³n secundaria"] / df_copy.shape[0] * 100)))
print("Primaria\t" + " %" + str(round(df_copy["D_Fedu"].value_counts()["EducaciÃ³n primaria"] / df_copy.shape[0] * 100)))

Consumo todos
2    115
3    100
4     96
1     82
0      2
Name: Fedu, dtype: int64

Consumo elevado
2    46
3    43
4    35
1    35
Name: Fedu, dtype: int64

Porcentaje consumo elevado
Universitaria	 %22
Secundaria	 %27
Primaria	 %51

# Consumo alto segÃºn la calidad de la relaciÃ³n familiar

In [25]:
print("Consumo todos")
print(df["famrel"].value_counts())

print("\nConsumo elevado")
print(df_copy["famrel"].value_counts())

print("\nPorcentaje consumo elevado")
print("5\t" + " %" + str(round(df_copy["famrel"].value_counts()[5] / df_copy.shape[0] * 100)))
print("4\t" + " %" + str(round(df_copy["famrel"].value_counts()[4] / df_copy.shape[0] * 100)))
print("3\t" + " %" + str(round(df_copy["famrel"].value_counts()[3] / df_copy.shape[0] * 100)))
print("2\t" + " %" + str(round(df_copy["famrel"].value_counts()[2] / df_copy.shape[0] * 100)))
print("1\t" + " %" + str(round(df_copy["famrel"].value_counts()[1] / df_copy.shape[0] * 100)))

Consumo todos
4    195
5    106
3     68
2     18
1      8
Name: famrel, dtype: int64

Consumo elevado
4    80
5    35
3    32
2     9
1     3
Name: famrel, dtype: int64

Porcentaje consumo elevado
5	 %22
4	 %50
3	 %20
2	 %6
1	 %2

# Consumo alto segÃºn el tiempo de estudio

In [34]:
print("Consumo todos")
print(df_copy_all["D_Studytime"].value_counts())

print("\nConsumo elevado")
print(df_copy["D_Studytime"].value_counts())

print("\nPorcentaje consumo elevado")
print("Poco\t" + " %" + str(round(df_copy["D_Studytime"].value_counts()["Poco"] / df_copy_all["D_Studytime"].value_counts()["Poco"] * 100)))
print("Normal\t" + " %" + str(round(df_copy["D_Studytime"].value_counts()["Normal"] / df_copy_all["D_Studytime"].value_counts()["Normal"] * 100)))
print("Mucho\t" + " %" + str(round(df_copy["D_Studytime"].value_counts()["Mucho"] / df_copy_all["D_Studytime"].value_counts()["Mucho"] * 100)))

Consumo todos
Normal    198
Poco      105
Mucho      92
Name: D_Studytime, dtype: int64

Consumo elevado
Normal    80
Poco      56
Mucho     23
Name: D_Studytime, dtype: int64

Porcentaje consumo elevado
Poco	 %53
Normal	 %40
Mucho	 %25

# Consumo alto segÃºn el tiempo de ocio con los amigos

In [35]:
print("Consumo todos")
print(df_copy_all["D_Goout"].value_counts())

print("\nConsumo elevado")
print(df_copy["D_Goout"].value_counts())

print("\nPorcentaje consumo elevado")
print("Poco\t" + " %" + str(round(df_copy["D_Goout"].value_counts()["Poco"] / df_copy_all["D_Goout"].value_counts()["Poco"] * 100)))
print("Normal\t" + " %" + str(round(df_copy["D_Goout"].value_counts()["Normal"] / df_copy_all["D_Goout"].value_counts()["Normal"] * 100)))
print("Mucho\t" + " %" + str(round(df_copy["D_Goout"].value_counts()["Mucho"] / df_copy_all["D_Goout"].value_counts()["Mucho"] * 100)))

Consumo todos
Mucho     139
Normal    130
Poco      126
Name: D_Goout, dtype: int64

Consumo elevado
Mucho     89
Normal    46
Poco      24
Name: D_Goout, dtype: int64

Porcentaje consumo elevado
Poco	 %19
Normal	 %35
Mucho	 %64

# Consumo alto segÃºn si hacen uso de internet

In [38]:
print("Consumo todos")
print(df["internet"].value_counts())

print("\nConsumo elevado")
print(df_copy["internet"].value_counts())

print("\nPorcentaje consumo elevado")
print("No\t" + " %" + str(round(df_copy["internet"].value_counts()["no"] / df["internet"].value_counts()["no"] * 100)))
print("Yes\t" + " %" + str(round(df_copy["internet"].value_counts()["yes"] / df["internet"].value_counts()["yes"] * 100)))

Consumo todos
yes    329
no      66
Name: internet, dtype: int64

Consumo elevado
yes    133
no      26
Name: internet, dtype: int64

Porcentaje consumo elevado
No	 %39
Yes	 %40