In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('./data/student-mat.csv')

# Creamos una copia
df_copy = df

df_copy.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [3]:
# Nos quedamos con las columnas para la storytelling
columns = ["sex", "famsize", "Pstatus", "Medu", "Fedu", "famrel", "romantic", "Walc"]
df_copy = df_copy[columns]
df_copy.head()

  sex famsize Pstatus  Medu  Fedu  famrel romantic  Walc
0   F     GT3       A     4     4       4       no     1
1   F     GT3       T     1     1       5       no     1
2   F     LE3       T     1     1       4       no     3
3   F     GT3       T     4     2       3      yes     1
4   F     GT3       T     3     3       4       no     2

In [4]:
# Discretizamos Walc siendo [1,2] = "Consumo bajo" y [3,5] = "Consumo alto"
df_copy["D_Walc"] = pd.cut(
    df_copy["Walc"], 
    bins=[0,2,5],
    labels=["Consumo bajo", "Consumo alto"]
)

# Discretizamos el nivel educativo del padre y la madre
df_copy["D_Medu"] = pd.cut(
    df_copy["Medu"], 
    bins=[-1,2,3,4],
    labels=["Educación primaria", "Educación secundaria", "Educación universitaria"]
)
df_copy["D_Fedu"] = pd.cut(
    df_copy["Fedu"], 
    bins=[-1,2,3,4],
    labels=["Educación primaria", "Educación secundaria", "Educación universitaria"]
)
df_copy.head()

<ipython-input-4-8ba98b6fd5ab>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_copy["D_Walc"] = pd.cut(
<ipython-input-4-8ba98b6fd5ab>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_copy["D_Medu"] = pd.cut(
<ipython-input-4-8ba98b6fd5ab>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_copy["D_Fedu"] = pd.cut(

,sex,famsize,Pstatus,Medu,Fedu,famrel,romantic,Walc,D_Walc,D_Medu,D_Fedu
0,F,GT3,A,4,4,4,no,1,Consumo bajo,Educación universitaria,Educación universitaria
1,F,GT3,T,1,1,5,no,1,Consumo bajo,Educación primaria,Educación primaria
2,F,LE3,T,1,1,4,no,3,Consumo alto,Educación primaria,Educación primaria
3,F,GT3,T,4,2,3,yes,1,Consumo bajo,Educación universitaria,Educación primaria
4,F,GT3,T,3,3,4,no,2,Consumo bajo,Educación secundaria,Educación secundaria

In [5]:
df_copy.shape

(395, 11)

In [6]:
df_copy = df_copy[df_copy["D_Walc"] == "Consumo alto"]
df_copy.shape

(159, 11)

# Consumo alto según el sexo

In [7]:
print("Consumo todos")
print(df["sex"].value_counts())

print("\nConsumo elevado")
print(df_copy["sex"].value_counts())

print("\nPorcentaje consumo elevado")
print("F\t" + " %" + str(round(df_copy["sex"].value_counts()["F"] / df_copy.shape[0] * 100)))
print("M\t" + " %" + str(round(df_copy["sex"].value_counts()["M"] / df_copy.shape[0] * 100)))

Consumo todos
F    208
M    187
Name: sex, dtype: int64

Consumo elevado
M    96
F    63
Name: sex, dtype: int64

Porcentaje consumo elevado
F	 %40
M	 %60

# Consumo alto según el tamaño de la familia

In [8]:
print("Consumo todos")
print(df["famsize"].value_counts())

print("\nConsumo elevado")
print(df_copy["famsize"].value_counts())

print("\nPorcentaje consumo elevado")
print("LE3\t" + " %" + str(round(df_copy["famsize"].value_counts()["LE3"] / df_copy.shape[0] * 100)))
print("GT3\t" + " %" + str(round(df_copy["famsize"].value_counts()["GT3"] / df_copy.shape[0] * 100)))

Consumo todos
GT3    281
LE3    114
Name: famsize, dtype: int64

Consumo elevado
GT3    104
LE3     55
Name: famsize, dtype: int64

Porcentaje consumo elevado
LE3	 %35
GT3	 %65

# Consumo alto según el estado de convivencia

In [9]:
print("Consumo todos")
print(df["Pstatus"].value_counts())

print("\nConsumo elevado")
print(df_copy["Pstatus"].value_counts())

print("\nPorcentaje consumo elevado")
print("T\t" + " %" + str(round(df_copy["Pstatus"].value_counts()["T"] / df_copy.shape[0] * 100)))
print("A\t" + " %" + str(round(df_copy["Pstatus"].value_counts()["A"] / df_copy.shape[0] * 100)))

Consumo todos
T    354
A     41
Name: Pstatus, dtype: int64

Consumo elevado
T    144
A     15
Name: Pstatus, dtype: int64

Porcentaje consumo elevado
T	 %91
A	 %9

# Consumo alto según el nivel educativo de la madre

In [10]:
print("Consumo todos")
print(df["Medu"].value_counts())

print("\nConsumo elevado")
print(df_copy["Medu"].value_counts())

print("\nPorcentaje consumo elevado")
print("Universitaria\t" + " %" + str(round(df_copy["D_Medu"].value_counts()["Educación universitaria"] / df_copy.shape[0] * 100)))
print("Secundaria\t" + " %" + str(round(df_copy["D_Medu"].value_counts()["Educación secundaria"] / df_copy.shape[0] * 100)))
print("Primaria\t" + " %" + str(round(df_copy["D_Medu"].value_counts()["Educación primaria"] / df_copy.shape[0] * 100)))

Consumo todos
4    131
2    103
3     99
1     59
0      3
Name: Medu, dtype: int64

Consumo elevado
4    48
3    47
2    33
1    29
0     2
Name: Medu, dtype: int64

Porcentaje consumo elevado
Universitaria	 %30
Secundaria	 %30
Primaria	 %40

# Consumo alto según el nivel educativo del padre

In [11]:
print("Consumo todos")
print(df["Fedu"].value_counts())

print("\nConsumo elevado")
print(df_copy["Fedu"].value_counts())

print("\nPorcentaje consumo elevado")
print("Universitaria\t" + " %" + str(round(df_copy["D_Fedu"].value_counts()["Educación universitaria"] / df_copy.shape[0] * 100)))
print("Secundaria\t" + " %" + str(round(df_copy["D_Fedu"].value_counts()["Educación secundaria"] / df_copy.shape[0] * 100)))
print("Primaria\t" + " %" + str(round(df_copy["D_Fedu"].value_counts()["Educación primaria"] / df_copy.shape[0] * 100)))

Consumo todos
2    115
3    100
4     96
1     82
0      2
Name: Fedu, dtype: int64

Consumo elevado
2    46
3    43
4    35
1    35
Name: Fedu, dtype: int64

Porcentaje consumo elevado
Universitaria	 %22
Secundaria	 %27
Primaria	 %51

# Consumo alto según la calidad de la relación familiar

In [12]:
print("Consumo todos")
print(df["famrel"].value_counts())

print("\nConsumo elevado")
print(df_copy["famrel"].value_counts())

print("\nPorcentaje consumo elevado")
print("5\t" + " %" + str(round(df_copy["famrel"].value_counts()[5] / df_copy.shape[0] * 100)))
print("4\t" + " %" + str(round(df_copy["famrel"].value_counts()[4] / df_copy.shape[0] * 100)))
print("3\t" + " %" + str(round(df_copy["famrel"].value_counts()[3] / df_copy.shape[0] * 100)))
print("2\t" + " %" + str(round(df_copy["famrel"].value_counts()[2] / df_copy.shape[0] * 100)))
print("1\t" + " %" + str(round(df_copy["famrel"].value_counts()[1] / df_copy.shape[0] * 100)))

Consumo todos
4    195
5    106
3     68
2     18
1      8
Name: famrel, dtype: int64

Consumo elevado
4    80
5    35
3    32
2     9
1     3
Name: famrel, dtype: int64

Porcentaje consumo elevado
5	 %22
4	 %50
3	 %20
2	 %6
1	 %2

# Consumo alto según el estado amoroso

In [14]:
print("Consumo todos")
print(df["romantic"].value_counts())

print("\nConsumo elevado")
print(df_copy["romantic"].value_counts())

print("\nPorcentaje consumo elevado")
print("No\t" + " %" + str(round(df_copy["romantic"].value_counts()["no"] / df_copy.shape[0] * 100)))
print("Yes\t" + " %" + str(round(df_copy["romantic"].value_counts()["yes"] / df_copy.shape[0] * 100)))

Consumo todos
no     263
yes    132
Name: romantic, dtype: int64

Consumo elevado
no     107
yes     52
Name: romantic, dtype: int64

Porcentaje consumo elevado
No	 %67
Yes	 %33

In [17]:
print(52 / 132 *100)
print(107 / 263 *100)

132-52

39.39393939393939
40.68441064638783

80